
<!-- SECTION OFFRE SPÉCIALE -->
<div id="hot-deal" class="section">
    <!-- conteneur -->
    <div class="container">
        <!-- ligne -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Jours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Heures</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Minutes</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secondes</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">offre spéciale cette semaine</h2>
                    <p>New collection jusqu'à 50% de réduction</p>
                    <a class="primary-btn cta-btn" href="/product">Achetez maintenant</a>
                </div>
            </div>
        </div>
        <!-- /ligne -->
    </div>
    <!-- /conteneur -->
</div>
<!-- /SECTION OFFRE SPÉCIALE -->


