<div id="hot-deal" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3 id="days">00</h3>
                                <span>Jours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="hours">00</h3>
                                <span>Heures</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="minutes">00</h3>
                                <span>Minutes</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="seconds">00</h3>
                                <span>Secondes</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">offre spéciale cette semaine</h2>
                    <p>New collection jusqu'à 50% de réduction</p>
                    {# <a class="primary-btn cta-btn" href="/product">Achetez maintenant</a> #}
                </div>
            </div>
        </div>
    </div>
</div>