<!-- templates/home/index.html.twig -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- conteneur -->
    <div class="container">
        <!-- nav-réactif -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/categories">Catégories</a></li>
                {% for category in menuCategories %}
                    <li><a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /nav-réactif -->
    </div>
    <!-- /conteneur -->
</nav>
<!-- /NAVIGATION -->