<!-- NAVIGATION -->
<nav id="navigation">
    <!-- conteneur -->
    <div class="container">
        <!-- nav-réactif -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/store">Offres Spéciales</a></li>
                <li><a href="/categories">Catégories</a></li>
                <li><a href="#">Ordinateurs Portables</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Appareils Photo</a></li>
                <li><a href="#">Accessoires</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /nav-réactif -->
    </div>
    <!-- /conteneur -->
</nav>
<!-- /NAVIGATION -->