{% extends 'base.html.twig' %}

{% block body %}

    <!-- SECTION -->
    <div class="section">
        <!-- conteneur -->
        <div class="container">
            <!-- ligne -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Détails de facturation -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Adresse de facturation</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Nom de famille">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Adresse">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Ville">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Pays">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="Code Postal">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Téléphone">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                    <span></span>
                                    Créer un compte ?
                                </label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <input class="input" type="password" name="password" placeholder="Entrez votre mot de passe">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Détails de facturation -->

                    <!-- Détails de livraison -->
                    <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title">Adresse de livraison</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Expédier à une adresse différente ?
                            </label>
                            <div class="caption">
                                <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="last-name" placeholder="Nom de famille">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Adresse">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="Ville">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="country" placeholder="Pays">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="zip-code" placeholder="Code Postal">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="Téléphone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Détails de livraison -->

                    <!-- Notes de commande -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Notes de commande"></textarea>
                    </div>
                    <!-- /Notes de commande -->
                </div>

                <!-- Détails de la commande -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Votre commande</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div>
                                <strong>PRODUIT</strong>
                            </div>
                            <div>
                                <strong>TOTAL</strong>
                            </div>
                        </div>
                        <div class="order-products">
                            <div class="order-col">
                                <div>1x Nom du produit ici</div>
                                <div>980,00 $</div>
                            </div>
                            <div class="order-col">
                                <div>2x Nom du produit ici</div>
                                <div>980,00 $</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>Livraison</div>
                            <div>
                                <strong>GRATUIT</strong>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>
                                <strong>TOTAL</strong>
                            </div>
                            <div>
                                <strong class="order-total">2940,00 $</strong>
                            </div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Virement bancaire direct
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                Paiement par chèque
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3">
                            <label for="payment-3">
                                <span></span>
                                Système Paypal
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            J'ai lu et j'accepte les
                            <a href="#">termes et conditions</a>
                        </label>
                    </div>
                    <a href="#" class="primary-btn order-submit">Passer la commande</a>
                </div>
                <!-- /Détails de la commande -->
            </div>
            <!-- /ligne -->
        </div>
        <!-- /conteneur -->
    </div>
    <!-- /SECTION -->

{% endblock %}